

/* Basic reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container */
.navbar {
  
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.nav1 h1{
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;

}



.animated-title {
  font-size: 2rem;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .animated-title {
    font-size: 1.5rem;
  }
}


