

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, rgba(12, 12, 29, 0.9) 0%, rgba(17, 17, 50, 0.9) 100%), 
  url('../assets/images/gy.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-out;
}

.home p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 20px;
  animation: fadeInUp 1.5s ease-out;
}

.user-info-button20 {
  display: inline-block;
  padding: 10px 20px;
  width: 15%;
  border: none;
  border-radius: 10px;
  background: #0c0c1d;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: fadeInUp 1.5s ease-out;
}

.user-info-button20:hover {
  background: orange;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  